/*

bg: #f1f4f9;

*/

@import 'open-iconic.min.css';

html,body{
	margin:0;
	padding:0;
	background-color: #e8e8e8;
}
* {
	box-sizing: border-box;
}

button {
	background-color: #4595f0;
	border: none;
	padding: 5px 10px;
	border-radius: 2px;
	cursor: pointer;
	color: #fff;
	font-weight:500;
	margin:0;
}
button:hover {
	background-color: #387fd1;
}
.page-container {
	margin:0 auto;
	max-width:1200px
}